
@model System.Collections.Generic.List<ClinicalELDAL.EntityLayer.Drug>
<div class="col-md-12">
    <form action="/Anonymous/SearchDrug" method="post">
        <input type="text" name="txtsearch" />
        <input type="submit" name="btnsearch" value="Search" />
    </form>
    <table class="table table-condensed table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Composition</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        @foreach (ClinicalELDAL.EntityLayer.Drug item in Model)
        {
            @Html.Hidden("DrugID", item.DrugID)
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Composition</td>
                <td>@item.Price.ToString()</td>
                <td>@item.Quantity.ToString()</td>
            </tr>
        }
    </table>

</div>
